<!-- welcome page, as required in the assignment -->
<body class="jumbotron text-center">
	<div class="container-fluid" style="border:10px solid grey;">
		<br />
		<h3>Sae Hyoung Oh Final Project  -  Welcome Page</h3>
		<br />
		<p class="text-info">
			This webpage is an assignment for Oregon State University CS493: Cloud Application Development<br />
			Portfolio Assignment: Final Project.<br /><br />
		</p>
		<p class="text-secondary">
			The purpose of the page is to implement OAuth 2.0 using Google API.<br />
			Clicking the "Get Credentials" button will redirect you to Google login page.<br /><br />
		</p>
		<form action="/welcome" method="post">
			<button class="btn btn-lg btn-primary btn-lg" type="submit">Get Credentials</button>
		</form>
		<br />
		<br />
	</div>
</body>
